<!-- <span class="border">
    <div class="container">
        <h3>User Login</h3>
        <br /> -->
        <form class="container">
            <div class="form-group">
                <label for="email">Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label>
                <input type="email" class="form-control" placeholder="Enter email here" name="email"
                    [(ngModel)]="email"  />
            </div>
            <div class="form-group">
                <label for="password">Password &nbsp;&nbsp;&nbsp;&nbsp; </label>
                <input type="password" class="form-control" name="password" [(ngModel)]="password"
                    placeholder="Enter password here" />

            </div>
            <button type="submit" (click)="logIn()" class="btn btn-primary">
                Login
            </button>
        </form>
    <!-- </div>
</span> -->