<!-- <div class="card text-center">
    <div class="card-header">
      Home Page
    </div> -->

<!-- <login></login> -->
<home></home>   
<!-- <customer-form></customer-form> -->
<!-- </div> -->
<!-- <router-outlet></router-outlet> -->

