<h3>Update Employee</h3>
<!-- <div [hidden]="submitted" style="width: 400px;"> -->
  <form>
    <div class="form-group">
      <label for="name">First Name</label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="customer.firstName" name="firstName">
    </div>

    <div class="form-group">
      <label for="name">Last Name</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="customer.lastName" name="lastName">
    </div>
    <div class="form-group">
        <label for="name">Gender</label>
        <input type="text" class="form-control" id="gender" required [(ngModel)]="customer.lastName" name="Gender">
      </div>
    <div class="form-group">
      <label for="name">Email</label>
      <input type="text" class="form-control" id="emailId" required [(ngModel)]="customer.emailId" name="Email">
    </div>
    <div class="form-group">
        <label for="name">Address</label>
        <input type="text" class="form-control" id="address" required [(ngModel)]="customer.address" name="Address">
      </div>
      <div class="form-group">
        <label for="name">City</label>
        <input type="text" class="form-control" id="city" required [(ngModel)]="customer.city" name="City">
      </div>
      <div class="form-group">
        <label for="name">State</label>
        <input type="text" class="form-control" id="state" required [(ngModel)]="customer.state" name="State">
      </div>
      <div>
        <button (click)="deleteCustomer(customer.id)" class="btn btn-danger">Delete</button>
        <button (click)="cancelCustomerDetails()" class="btn btn-info" style="margin-left: 300px">Cancel</button> 
        <button (click)="updateCustomerDetails(customer.id)" class="btn btn-primary" style="margin-left: 10px">Update</button>
      </div>
  </form>
<!-- </div> -->