<span class="border">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" [routerLink]='["/"]'>Header Component</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]='["/home"]'>Home Form</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]='["/customer-form"]'>Customer Form</a>
            </li>          
        </ul>
    </div>
</nav>
</span>
