<span class="border">
  <div><a ui-sref="login">Logout</a></div>
  <h4>Welcome {{currentUser}}! </h4>
  <!-- <p><strong>This is Home Page</strong></p> -->
  <div class="container">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
          aria-controls="pills-home" aria-selected="true">Customer</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="pills-employee-tab" data-toggle="pill" href="#pills-employee" role="tab"
          aria-controls="pills-employee" aria-selected="false">Employee</a>
      </li>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <li>
        <a class="nav-link" id="pills-newCustomer-tab" data-toggle="pill" href="#pills-newCustomer" role="tab"
          aria-controls="pills-newCustomer" aria-selected="false">Add new Customer</a>
      </li>
    </ul>
    <br />
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <h3>CUSTOMER List</h3>
        <br />
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Address</th>
              <th scope="col">City</th>
              <th scope="col">State</th>
              <th scope="col">Order Total</th>
            </tr>
          </thead>
          <tbody>            
            <tr *ngFor="let customer of customerList">
              <td>{{customer.firstName}}</td>
              <td>{{customer.lastName}}</td>
              <td>{{customer.address}}</td>
              <td>{{customer.city}}</td>
              <td>{{customer.state}}</td>
              <td>{{customer.orderTotal}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="tab-pane fade" id="pills-employee" role="tabpanel" aria-labelledby="pills-employee-tab">
        <h3>EMPLOYEE List</h3> <br />
      </div>

      <div class="tab-pane fade" id="pills-newCustomer" role="tabpanel" aria-labelledby="pills-newCustomer-tab">
        <h3>New Customer</h3>
        
        <div [hidden]="submitted" style="width: 400px;">
          <form (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="name">First Name</label>
              <input type="text" class="form-control" id="firstName" required [(ngModel)]="customer.firstName"
                name="firstName">
            </div>

            <div class="form-group">
              <label for="name">Last Name</label>
              <input type="text" class="form-control" id="lastName" required [(ngModel)]="customer.lastName"
                name="lastName">
            </div>
            <div class="form-group">
              <label for="name">Gender</label>
              <div class="custom-control custom-radio">
                <input id="male" type="radio" class="custom-control-input" value="male" name="gender" ngModel>
                <label class="custom-control-label" for="male">Male</label>
              </div>
              <div class="custom-control custom-radio">
                <input id="female" type="radio" class="custom-control-input" value="female" name="gender" ngModel>
                <label class="custom-control-label" for="female">Female</label>
              </div>
            </div>
            <div class="form-group">
              <label for="name">Email</label>
              <input type="text" class="form-control" id="emailId" required [(ngModel)]="customer.emailId" name="Email">
            </div>
            <div class="form-group">
              <label for="name">Address</label>
              <input type="text" class="form-control" id="address" required [(ngModel)]="customer.address"
                name="Address">
            </div>
            <div class="form-group">
              <label for="name">City</label>
              <input type="text" class="form-control" id="city" required [(ngModel)]="customer.city" name="City">
            </div>
            <div class="form-group">
              <label for="name">State</label>
              <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
          </form>
        </div>

        <div [hidden]="!submitted">
          <h4>You submitted successfully!</h4>
        </div>
      </div>
    </div>
  </div>
</span>